**/__pycache__
**/*.pyc
**/.devcontainer
**/.github

**/flogenv
**/.vscode
**/logs
**/doc

**.dockerignore
**.env
**.git
**.gitignore
**.project
**.settings
**.toolstarget
**.vs

*.md
**/.DS_Store

Dockerfile
**/*.log
**/.gitignore
docker-compose.yml

unit-test*.*
